/* Styles */

/* Tipo
font-family: 'Bungee', cursive;
font-family: 'Jockey One', sans-serif;
font-family: 'Praise', cursive;
font-family: 'Zen Dots', cursive;
*/

* {
    padding: 0px;
    margin: 0px;
}

body {
    background: radial-gradient(ellipse at top, #403d39, transparent),
        radial-gradient(ellipse at bottom, #e7d7c1, transparent);
    background-color: #252422;
    margin: 0px;
    padding: 0px;
}

p, h1, h2, h3, h4, h5, h6, span {
    margin: 0px;
    padding: 0px;
}

header {
    /* min-height: 6vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 40px;
}

header h1 {
    color: #e7d7c1;
    font-size: 3em;
    font-weight: 300;
    font-family: 'Praise', cursive;
}

header p {
    color: white;
    font-family: 'Jockey One', sans-serif;
}

footer {
    /* min-height: 6vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 20px;
}

footer p {
    color: #e7d7c1;
    font-family: 'Jockey One', sans-serif;
    font-weight: 300;
    padding-bottom: 10px;
}

footer p a {
    color: #e7d7c1;
    text-decoration:none;
    transition: 0.3s;
}

footer a:hover {
    color: #c9184a;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}

.calculator {
    background-color: #ece7c0;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid #e6e1c1;
    box-shadow: 0px -30px 80px -20px #19222945,
                inset 0px 6px 20px 5px #b9671745;
    padding: 35px 15px 25px;

    /* //# display flex */
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
}

.calculator__box {
    background-color: #30363d;
    border-top-right-radius:18px;
    border-top-left-radius: 18px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border: 5px solid #faf7e1;
    box-shadow: 0px 5px 5px 1px #ffffff85,
                inset 0px 0px 15px 0px #141116;
}

.calculator__display {
    color:#40dfcb;
    background-color:#141116;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    font-family: 'Zen Dots', cursive;
    letter-spacing:2px;
    max-width: 232px;
    height: 50px;
    padding: 30px 10px 25px;
    overflow: hidden;
    
    /* //# display flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    /* //# effects */
    text-shadow: 0px 0px 8px #68f8e575;
    box-shadow: 0px -50px 20px -10px #ffffff90;
}

.calculator__display-on {
    box-shadow: 0px -50px 20px -10px #ffffff90,
                inset 0px -5px 15px 0px #68f8e535;
    outline: 1px dashed #40dfcb55;

    animation-name: displayOn;
    animation-duration: .3s;
    animation-timing-function:ease-in;
    animation-iteration-count:1;

    -webkit-animation-name: flicker;
    -webkit-animation-duration: .3s;
    -webkit-animation-timing-function:ease-in;
    -webkit-animation-iteration-count:1;
}

@-moz-keyframes displayOn {
    0% {
        opacity: .6;
    }

    50% {
        opacity: 0.3;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes displayOn {
    0% {
        opacity: .6;
    }

    50% {
        opacity: 0.3;
    }

    100% {
        opacity: 0;
    }
}

@keyframes displayOn {
    0% {
        opacity: .6;
    }

    50% {
        opacity: 0.3;
    }

    100% {
        opacity: 0;
    }
}

.calculator__display .display-backupValue,
.calculator__display .display-actualValue {
    display: flex;
    flex-direction: row;
}

.calculator__display .display-backupValue {
    font-size: .8em;
    padding-bottom: 5px;
}

.calculator__display .display-actualValue {
    font-size: 1.2em;
}

.calculator__display div > div {
    padding-left: 6px;
}
.calculator__display .display-backupValue div.typeOperation {
    text-align: right;
    width: 20px;
}

.calculator__display .display-backupValue div.backupValue {
    max-width: 192px;
    overflow: hidden;
}

.calculator__display .display-backupValue div.signOperation {
    background-color: transparent;
}

.calculator__display .display-actualValue .actualValue {
    padding-right: 0px;
    max-width: 212px;
    overflow: hidden;
}

.negativeValue {
    color: #e30743 !important;
    text-shadow: 0px 0px 8px rgb(212, 35, 35, .75);
}

.calculator__buttons {
    padding: 0px 10px 20px;
    place-content: space-between;
    width: 232px; 
    height: 286px;
    
    /* //# display grid */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 4px;
}

.calculator__buttons .row-2 {
    grid-column: 4;
    grid-row: 4/6;
}

button:focus {
    outline: none;
}

.calcButton {
    color:#000;
    cursor: pointer;
    border-radius:5px;
    border: 3px solid #20252b;
    box-shadow: inset 0px 0px 1px 4px #03030225;
    font-family: 'Bungee', cursive;
    font-size: 1.5em;
}

.calcButton:active {
    box-shadow: inset 0px 0px 2px 5px #03030225;
}


/* //# Styles to number buttons */
.numBtn {
    background-color: #e9f2ec;
    font-size: 2em;
    padding-right: 5px;

    /* //# display flex */
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.numBtn:hover {
    background-color: #fff;
}

/* //# Styles to operator buttons */
.operBtn, .dotBtn {
    background-color: #ece7c0;
}

.operBtn:hover, .dotBtn:hover {
    background-color: #faf5d0;
}

/* //# Styles to Special Buttons CE, +/-, n' backButton */
.specialBtn {
    color: #fff;
    background-color: rgb(212, 7, 7);
}
.specialBtn.backButton {
    font-weight: bolder;
    font-size: 2.6em;
}
.specialBtn:hover {
    background-color: rgb(241, 51, 51);
}

/* //# Styles to equalButon " = " */
.equalBtn {
    background-color:#e3b01d;
}
.equalBtn:hover {
    background-color: #fdce42;
}

/* //# model and brand text */
.calculator__modelText {
    align-items:center;
    display: flex;
    justify-content:center;
}

.calculator__modelText p {
    color: #fff;
    font-family: 'Jockey One', sans-serif;
    padding: 0px 0px 15px;
}
.calculator__modelText p span {
    color:#40dfcb;
    font-size: .8em;
}

.pzicodev {
    color: #e6e1c1;
    display:block;
    background-color: #ece7c045;
    font-family: 'Jockey One', sans-serif;
    font-style: italic;
    font-size: .9em;
    font-weight: 600;
    margin-bottom: 10px;
    padding: 0px 15px 8px;
    z-index: 999;

    /* //# effects */
    text-shadow: 0px 2px 5px #fff;
    border: 2px solid #e6e1c1;
    border-radius: 25px;
    box-shadow: 0px -10px 15px 0px #ece7c045,
                inset 0px -5px 10px 5px #ffffff80;
}

.pzicodev p span {
    /* todo: revisar utilidad */
    display: inoline-block;
    margin: 0px;
    padding: 0px;
}

.pzicodev span {
    font-weight: 400;
    font-size: 1.8em;
}

.calculator__switch {
    padding: 10px 15px 10px;

    /* //# display flex */
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
}

.calculator__switch div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items:center;
}

.calculator__switch p {
    padding-left: 8px;
}

p.moveForward {
    color: silver;
    font-family: 'Jockey One', sans-serif;
    font-style: italic;
    font-size: 11px;
    font-weight: 600;
    text-shadow: 0px 0px 5px #000;
}

p.moveForward:before {
    content: '> ';
    font-size: 14px;
    color: silver;
}

.dotLight {
    content: ' •';
    color: rgb(148, 27, 27);
    text-shadow: 0px 0px 5px #161515;
    font-family: serif;
    font-style: none;
    font-size: 36px;
    vertical-align: middle;
}

.flicker {
    /* //# anmation light */
    color: rgb(241, 51, 51);
    text-shadow: 0px 0px 6px rgb(255, 83, 83);

    animation-name: flicker;
    animation-duration: .3s;
    animation-timing-function:steps(3, end);
    animation-iteration-count: 2.5;
    
    -webkit-animation-name: flicker;
    -webkit-animation-duration: .3s;
    -webkit-animation-timing-function:steps(3, end);
    -webkit-animation-iteration-count: 2.5;
}

@-moz-keyframes flicker {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.3;
    }

    100% {
        opacity: 1.0;
    }
}

@-webkit-keyframes flicker {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.3;
    }

    100% {
        opacity: 1.0;
    }
}

@keyframes flicker {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.3;
    }

    100% {
        opacity: 1.0;
    }
}

/* switch */

.checkbox {
    display: none
}

.switch {
    /* switch box */
    width: 52px;
    height: 28px;
    background: #171b1f;
    z-index: 0;
    margin: 0;
    padding: 0;
    appearance: none;
    border: none;
    cursor: pointer;
    position: relative;
    border-radius: 14px;
    -moz-border-radius: 14px;
    -webkit-border-radius: 14px;
}

.switch:before {
    /* switch off status */
    content: ' ';
    position: absolute;
    left: 1px;
    top: 1px;
    width: 50px;
    height: 26px;
    background: #1d2125;
    z-index: 1;
    border-radius: 13px;
    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
}

.switch:after {
    /* switch pin */
    content: ' ';
    height: 26px;
    width: 26px;
    border-radius: 13px;
    background: #30363d;
    position: absolute;
    z-index: 2;
    top: 1px;
    left: 1px;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    -webkit-box-shadow: 0 2px 5px #161515;
    box-shadow: 0 2px 5px #161515;
}

.switchOn,
.switchOn:before {
    /* switch on status */
    background: #3aec9385 !important;
}

.switchOn:after {
    left: 26px !important;
}