/* Styles */

/* Tipograph
font-family: 'Bungee', cursive;
font-family: 'Jockey One', sans-serif;
font-family: 'Monoton', cursive;
font-family: 'Zen Dots', cursive;
/


/* TODO:
todo list
1. save width of calculator //> done
2. display overflow hidden //> rejected
3. add brand on top of calculator //> done
4. add japanese characters? //> rejected
*/

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color:#424c55;
}

header {
    background-color: tomato;
}

footer {
    background-color: turquoise;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh; /* todo: corregir alto */
}

.calculator {
    background-color: #ece7c0;
    padding: 35px 15px 25px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    max-width: 298px;
    border: 1px solid #e6e1c1;
    box-shadow: 0px -20px 50px 10px #19222975,
                inset 0px 6px 20px 5px #b9671745;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

.calculator__box {
    background-color: #30363d;
    border-top-right-radius:18px;
    border-top-left-radius: 18px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    /* border: 2px solid #e6e1c1; */
    border: 5px solid #faf7e1;
    box-shadow: 0px 5px 5px 1px #ffffff85,
                inset 0px 0px 15px 0px #141116;
}

.calculator__display {
    background-color:#141116;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    color:#40dfcb;
    height: auto;
    padding: 30px 15px 25px;
    font-family: 'Zen Dots', cursive;
    letter-spacing:2px;
    text-shadow: 0px 0px 13px #68f8e5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    box-shadow: 0px -50px 20px -10px #ffffff90,
                inset 0px -5px 15px 0px #68f8e535;
    border-bottom: 1px dashed #40dfcb55;
}

.calculator__display .backupValue,
.calculator__display .actualValue {
    display: flex;
    flex-direction: row;
}

.calculator__display .backupValue {
    font-size: .8em;
    padding-bottom: 5px;
}

.calculator__display .actualValue {
    font-size: 1.4em;
}

.calculator__display div > div {
    padding-left: 6px;
}
.calculator__display .backupValue div.typeOperation {
    width: 20px;
    text-align: right;
}

.calculator__display .actualValue .oper-actualValue {
    /* todo: eliminar si no va a ser usado */
    padding-right: 0px;
}

.calculator__buttons {
    padding: 0px 10px 20px;
    display: grid;
    place-content: space-between;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 4px;
    width: 244px;
    height: 307px;
}

.calculator__buttons .row-2 {
    grid-column: 4;
    grid-row: 4/6;
}

.calcButton {
    font-family: 'Bungee', cursive;
    font-size: 1.5em;
    color:#000;
    border-radius:5px;
    border: 3px solid #20252b;
    /* box-shadow: inset 0px 0px 10px 5px #03030225; */
    box-shadow: inset 0px 0px 1px 4px #03030225;
}

.calcButton:active {
    box-shadow: inset 0px 0px 2px 5px #03030225;
}


/* //# Styles to number buttons */
.numBtn {
    padding-right: 5px;
    font-size: 2em;
    background-color: #e9f2ec;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.numBtn:hover {
    background-color: #fff;
}

/* //# Styles to operator buttons */
.operBtn {
    background-color: #ece7c0;
}

.operBtn:hover {
    background-color: #faf5d0;
}

/* //# Styles to Special Buttons CE, +/-, n' backButton */
.specialBtn {
    color: #fff;
    background-color: rgb(212, 7, 7);
}
.specialBtn.backButton {
    font-weight: bolder;
    font-size: 2.6em;
}
.specialBtn:hover {
    background-color: rgb(241, 51, 51);
}

/* //# Styles to equalButon " = " */
.equalBtn {
    background-color:#e3b01d;
}
.equalBtn:hover {
    background-color: #fdce42;
}

/* //# model and brand text */
.calculator__modelText {
    display: flex;
    justify-content:center;
    align-items:center;
}

.calculator__modelText p {
    color: #fff;
    font-family: 'Jockey One', sans-serif;
    padding: 0px 0px 15px;
}
.calculator__modelText p span {
    color:#40dfcb;
    font-size: .8em;
}

.pzicodev {
    background-color: #ece7c045;
    display:block;
    margin-bottom: 10px;
    color: #e6e1c1;
    font-family: 'Jockey One', sans-serif;
    font-style: italic;
    font-size: .9em;
    font-weight: 600;
    padding: 0px 15px 8px;
    z-index: 999;
    text-shadow: 0px 2px 5px #fff;
    border: 2px solid #e6e1c1;
    border-radius: 25px;
    box-shadow: 0px -10px 15px 0px #ece7c045,
                inset 0px -5px 10px 5px #ffffff80;
}

.pzicodev p span {
    /* todo: revisar utilidad */
    display: inoline-block;
    margin: 0px;
    padding: 0px;
}

.pzicodev span {
    font-weight: 400;
    font-size: 1.8em;
}

.moveForward {
    padding: 10px 15px 10px;
    display: flex;
    justify-content: flex-end;
    align-items:center;
}

.moveForward p {
    color: #fff;
    font-family: 'Jockey One', sans-serif;
    font-style: italic;
    font-size: 11px;
    font-weight: 600;
    text-shadow: 0px 0px 5px #000;
}

.moveForward p:before {
    content: '> ';
}
.moveForward p:after {
    content: ' •';
    color: #40dfcb;
    text-shadow: 0px 0px 10px #40dfcb;
    font-family: serif;
    font-style: none;
    font-size: 30px;
    vertical-align: middle;
}