/* Styles */

/* Colores Base */
.colorOptions {
    color: #e3b01d; /* btnSpecial */
    color: #b96717; /* shadow btnSpecial */
    color: #d1c5b1; /* btn */
    color: #c0b18f; /* shadow btn */
    color: #564e45; /* btnEqual */
    color: #2d251a; /* shadow btnEqual */
    color: #40dfcb; /* digitosDisplay */
    color: #010101; /* display */
    color: #f58a3b; /* boton equal */
    color: #bbba9c; /* cuerpo y botones */
    color: #34393f; /* bg botones */
    color: #e9f2ec; /* botones */
    color: #690b29; /* digitosDisplay */
    color: #141116; /* display */
    color: #424c55; /* bg escenario */
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color:#b5d9cf;
}

header {
    background-color: tomato;
}

footer {
    background-color: turquoise;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh; /* todo: corregir alto */
}

.calculator {
    background-color: #ece7c0;
    padding: 35px 15px 20px;
    border-radius: 25px;
}

.calculator__box {
    background-color: #34393f;
    border-radius: 20px;
}

.calculator__display {
    background-color:#141116;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    color:#40dfcb;
    height: auto;
    padding: 15px;
    font-size: 1.3em;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.calculator__buttons {
    padding: 30px 10px 15px;
    text-align: center;
}

.calcButton {
    color:#000;
    border-radius:5px;
    border: 0px;
    padding: 5px;
}

.numBtn {
    background-color: #e9f2ec;
}

.operBtn {
    background-color: #ece7c0;
}

.specialBtn {
    color: #fff;
    background-color: rgb(212, 7, 7);
}

.equalBtn {
    background-color:#e3b01d;
}

